#elem1 {
 padding: 30px;
 width: 300px;
 border: 1px solid red;
 text-align: justify;
}
#elem3 {
 padding: 5px;
 width: 300px;
 border: 1px solid red;
 text-align: justify;
}
#elem2 {
 padding: 50px;
 width: 300px;
 border: 1px solid red;
 text-align: justify;
}